certifi==2023.7.22 ; python_full_version == "3.11.3"
charset-normalizer==3.3.1 ; python_full_version == "3.11.3"
colorama==0.4.6 ; python_full_version == "3.11.3"
decorator==4.4.2 ; python_full_version == "3.11.3"
evdev==1.6.1 ; sys_platform in "linux" and python_full_version == "3.11.3"
idna==3.4 ; python_full_version == "3.11.3"
imageio-ffmpeg==0.4.9 ; python_full_version == "3.11.3"
imageio==2.31.6 ; python_full_version == "3.11.3"
moviepy==1.0.3 ; python_full_version == "3.11.3"
mss==9.0.1 ; python_full_version == "3.11.3"
numpy==1.26.1 ; python_full_version == "3.11.3"
pillow==10.0.1 ; python_full_version == "3.11.3"
playsound==1.2.2 ; python_full_version == "3.11.3"
proglog==0.1.10 ; python_full_version == "3.11.3"
pyaudiowpatch==0.2.12.6 ; python_full_version == "3.11.3"
pynput==1.7.6 ; python_full_version == "3.11.3"
pyobjc-core==10.0 ; sys_platform == "darwin" and python_full_version == "3.11.3"
pyobjc-framework-applicationservices==10.0 ; sys_platform == "darwin" and python_full_version == "3.11.3"
pyobjc-framework-cocoa==10.0 ; sys_platform == "darwin" and python_full_version == "3.11.3"
pyobjc-framework-quartz==10.0 ; sys_platform == "darwin" and python_full_version == "3.11.3"
pyside6-addons==6.5.2 ; python_full_version == "3.11.3"
pyside6-essentials==6.5.2 ; python_full_version == "3.11.3"
pyside6==6.5.2 ; python_full_version == "3.11.3"
python-xlib==0.33 ; sys_platform in "linux" and python_full_version == "3.11.3"
pywin32==306 ; python_full_version == "3.11.3"
requests==2.31.0 ; python_full_version == "3.11.3"
setuptools==68.2.2 ; python_full_version == "3.11.3"
shiboken6==6.5.2 ; python_full_version == "3.11.3"
six==1.16.0 ; python_full_version == "3.11.3"
tqdm==4.66.1 ; python_full_version == "3.11.3"
urllib3==2.0.7 ; python_full_version == "3.11.3"